<br>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
<div class="container-fluid">
    <div class="card shadow mb-3">
        <div class="card-header py-3" >
            <h6 class="m-0 font-weight-bold" style="color: #ED1B2E; text-align: center; width: 700;"><font size="+3" >Pie Chart</font></h6>
            </div>
        <div class="card-body">
            <div class="table-responsive">
                <dx-pie-chart
                    id="pie"
                    title="Area of Countries"
                    palette="bright"
                    [dataSource]="areas"
                    (onPointClick)="pointClickHandler($event)"
                    (onLegendClick)="legendClickHandler($event)" 
                    >
                    
                    <dxi-series
                        argumentField="country"
                        valueField="area">
                        <dxo-label [visible]="true">
                            <dxo-connector
                                [visible]="true"
                                [width]="1"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-size [width]="700"></dxo-size>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-pie-chart>
</div></div></div></div></div>


<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <app-customer></app-customer>
</div>
</div>

