<div class="card shadow mb-5">
    <div class="card-header py-3" >
        <h6 class="m-0 font-weight-bold" style="color: #ED1B2E; text-align: center;"><font size="+3" >Müşteri Temsilcileri Listesi</font></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="data-grid-demo">
                <dx-data-grid 
                    #grid
                    id="gridContainer"
                    [dataSource] = "tempData"
                    [hoverStateEnabled]="true"
                    [showBorders]="true">
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-paging [enabled]="true" [pageSize]="15"></dxo-paging>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxi-column dataField="name"></dxi-column>
                    <dxi-column dataField="fullName"></dxi-column>
                    <dxi-column dataField="email" [width]="170"></dxi-column>

                    <dxi-column type="buttons" [width]="110">
                        <dxi-button template="myCommand">
                            <div *dxTemplate="let data of 'myCommand'">
                                <a role="button" (click)="OpenPreviewModal(data.values)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 20 20">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.520 10.68 10.289 10 8 10c-2.29 0-3.520.68-4.208 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                    </svg>
                                </a>
                            </div>
                        </dxi-button>
                    </dxi-column>
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>

                    <dx-button
                        *dxTemplate="let data of 'deleteButton'"
                        [disabled]="!selectedItemKeys.length"
                        icon="card"
                        text="Müşteri Ata">
                    </dx-button>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>
