<div class="card shadow mb-5">
    <div class="card-header py-3" >
        <h6 class="m-0 font-weight-bold" style="color: #ED1B2E; text-align: center;"><font size="+3" >Kullanıcı Bilgileri</font></h6>
    </div>
    <div class="container">
    <form action="your-action" >
        <dx-form id="form"
            [formData]="userDetails"
            [readOnly]="false"
            [showColonAfterLabel]="true"
            [showValidationSummary]="true">
            <dxi-item itemType="group">
                <dxi-item dataField="email" data></dxi-item>
                <dxi-item dataField="userName"></dxi-item>
                <dxi-item dataField="fullName"></dxi-item>
            </dxi-item>
        </dx-form>
        <dx-button
            id="update-button"
            class="button-info"
            text="Bilgileri Güncelle"
            horizontalAlignment="right"
            (onClick)="isPopupVisible = true">
        </dx-button>
    </form>
</div>
<dx-popup
    title="Değiştirilebilir Bilgiler"
    [(visible)]="isPopupVisible"
    [closeOnOutsideClick]="true"
    [width]="700"
    [height]="525">
    <div *dxTemplate="let data of 'content'">
        <dx-form id="form"
            [formData]="userDetails"
            [readOnly]="false"
            [showColonAfterLabel]="true"
            [showValidationSummary]="true">
            <dxi-item itemType="group">
                <dxi-item dataField="email" data>
                    <dxi-validation-rule 
                        type="required"
                        message="Email is required">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                        type="email"
                        message="Email is invalid">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="userName">
                    <dxi-validation-rule 
                        type="required"
                        message="User name is required">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="fullName">
                    <dxi-validation-rule 
                        type="required"
                        message="Full name is required">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="Password">
                    <dxi-validation-rule 
                        type="required"
                        message="Password is required">
                    </dxi-validation-rule>
                </dxi-item>

            </dxi-item>
            
            <dxi-item itemType="group" caption="Şifre Yenilemek İsterseniz Doldurun">
                <dxi-item dataField="New Password">
                    <dxi-validation-rule 
                        type="required"
                        message="New password is required">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="Confirm New Password">
                    <dxi-validation-rule 
                        type="required"
                        message="New password is required">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dx-form>
    </div>    
    <dxi-toolbar-item widget="dxButton"
        toolbar="bottom"  
        location="after"  
        [options]="{text: 'Güncelle', type:'success'}">  
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton"
        toolbar="bottom"  
        location="after"  
        [options]="{text: 'Vazgeç', type:'info', onClick: closePopup}">  
    </dxi-toolbar-item>
</dx-popup>