<nav class="navbar navbar-light" style="background-color: #ED1B2E;">
    <div class="container">

        <nav class="navbar">
                <ul class="navbar-nav">
                    <li>
                      <div class="dx-field-value"  >
                      <dx-drop-down-button
                        style="background-color:#ED1B2E; margin-left: 100px; position: relative;"
                        [splitButton]="true"
                        [useSelectMode]="false"
                        text="Batuhan ÖZÜNALAN" 
                        icon="aligncenter"
                        [items]="profileSettings"
                        displayExpr="name"
                        keyExpr="id"
                        (onItemClick)="onItemClick($event)"
                      ></dx-drop-down-button>
                    </div>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                
            </ul>
          </div>


          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

          
          

        </nav>

        

        

        <!-- <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control"
              placeholder="Type query"
              aria-label="Search"
            />
            <button
              class="btn btn-primary"
              type="button"
              data-mdb-ripple-color="dark"
            >
              Search
            </button>
          </form> -->

      </div>
</nav>
