<nav class="navbar navbar-light" style="background-color: #ED1B2E;">
  <div class="container">
      <nav class="navbar">
              <ul class="navbar-nav">
                  <li>
                    <div class="dx-field-value"  >
                    <dx-drop-down-button
                      style="background-color:#ED1B2E; margin-left: 100px; position: relative;"
                      [splitButton]="true"
                      [useSelectMode]="false"
                      text="Batuhan ÖZÜNALAN" 
                      icon="aligncenter"
                      [items]="profileSettings"
                      displayExpr="name"
                      keyExpr="id"
                      (onItemClick)="onItemClick($event)"
                    ></dx-drop-down-button>
                  </div>
                </li>
              </ul>
        </nav>
    </div>
</nav>