
<div class="modal-header">
    <h4 class="modal-title">Müşteri Bilgisini Düzenle</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">İsim</label>
          <input type="text" class="form-control" id="name" [value]=employee.Name [(ngModel)]="employee.Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Soyisim</label>
          <input type="text" class="form-control" id="lastName" placeholder="Soyisim" [value]=employee.LastName [(ngModel)]="employee.LastName">
        </div></div>
        <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Doğum Günü</label>
        <input type="text" class="form-control" id="DateOfBirth" placeholder="Doğum Günü" [value]=employee.DateOfBirth [(ngModel)]="employee.DateOfBirth">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Müşteri Numarası</label>
        <input type="text" class="form-control" id="IdentificationNumber"placeholder="ID" [value]=employee.IdentificationNumber [(ngModel)]="employee.IdentificationNumber">
      </div> </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="Save()">Kaydet</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Kapat</button>
  </div>
